@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

header {
    padding: 30px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #4D4D4D;
}

header ul li:not(.first__button--register) a:hover {
    border-bottom: 5px solid #4CAF4F;
}

header ul li.first__button--register a {
    background: #4CAF4F;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header ul li.first__button--register a:hover {
    background: #00ff08;
}

.from__years--8 {
    color: #4CAF4F;
}

.hero__info {
    width: 700px;
    padding-top: 180px;
}

.hero__info h1 {
    color: #4D4D4D;
    font-size: 70px;
}
.hero__info p {
    color: #717171;
    margin: 22px 0;
    font-size: 11px;
}

.hero__info button {
    background: #4CAF4F;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
    color: white;
    border: 0;
    font-size: 15px;
    position: static;
}

.hero__info button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero__image {
    position: absolute;
    right: 220px;
    bottom: 230px;
}

.main__background {
    background: #d1ddf6;
    bottom: 450px;
    padding: 100px 0;
}