@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-light: #ffffff;
    --shadow-card: 0 4px 10px rgba(0, 0, 0, 0.5);
    --text-color-pop: #4d4d4d;
    --text-color-uppop: #717171;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


header {
    padding: 30px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #4D4D4D;
}

header ul li:not(.first__button--register) a:hover {
    border-bottom: 5px solid #4CAF4F;
}

header ul li.first__button--register a {
    background: #4CAF4F;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header ul li.first__button--register a:hover {
    background: #00ff08;
}

.from__years--8 {
    color: #4CAF4F;
}

.hero__info {
    width: 1300px;
    padding-top: 70px;
}

.hero__info h1 {
    margin-left: 150px;
    color: #4D4D4D;
    font-size: 70px;
    margin-top: -30px;
}

.hero__info p {
    margin-left: 150px;
    color: #717171;
    font-size: 11px;
    margin-bottom: 20px;
}

.hero__info button {
    margin-left: 150px;
    background: #4CAF4F;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
    color: white;
    border: 0;
    font-size: 15px;
    position: static;
}

.hero__info button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero__image {
    position: absolute;
    right: 220px;
    bottom: 210px;
}

.main__background {
    background: #eff4ff;
    bottom: 450px;
    margin-top: 50px;
    padding: 80px 0 190px 0;
    width: 200%;
    margin: 0 auto;
}

.hero__container {
    max-width: 3500px;
    margin: 0 auto;
    padding: 0 16px;
}

.our__clients {
    max-width: 100%;
    margin: 0;
}

.our__clients h3 {
    font-size: 35px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 10px;
}

.our__clients p {
    color: #717171;
    text-align: center;
    margin-bottom: 25px;
}

.our__clients img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

.manage__hero h2 {
    font-size: 35px;
    color: #4D4D4D;
    text-align: center;
    margin-top: 35px;
}

.nexcent__text {
    color: var(--text-color-uppop);
    text-align: center;
    margin-top: 15px;
}

h5 {
    color: var(--text-color-pop);
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.manage__cards {
    margin-top: 80px;
}

.manage__card p {
    color: var(--text-color-uppop);
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    max-width: 250px;
}

.card_img_top {
    display: block;
    margin: 0 auto;
}

.manage__cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.manage__card {
    flex: 1 1 calc(33.333% - 30px);
}


.section-clients-cta {
  padding: 80px 0;
}

.section-clients-cta__inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;     
  gap: 64px;               
}

.section-clients-cta__media { flex: 0 1 42%; }
.section-clients-cta__content { flex: 1; }

.section-clients-cta__image {
  display: block;
  max-width: 441px;
  margin: 0;
}


.section-clients-cta__title {
  margin: 0 0 16px;
  font-weight: 800;
  color: #4d4d4d;
  font-size: clamp(28px, 3.2vw, 44px);
  line-height: 1.2;
  max-width: 80%;
}

.section-clients-cta__text {
  margin: 0 0 24px;
  color: #717171;
  max-width: 80%
}


@media (max-width: 767.98px) {
  .section-clients-cta__inner {
    flex-direction: column;
    gap: 32px;
    text-align: left; 
  }
  .section-clients-cta__media,
  .section-clients-cta__content { flex-basis: auto; width: 100%; }
}
